.nav-pills li{
    width:20%;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    border: 1px #FCCF47 solid;
    padding:1em;
}
.nav-pills a{
    color: #CCC;
}
.nav-pills a.active{
     color: #FCCF47 !important;
 }