<nav class="navbar" id="top">
  <button class="navbar-toggle" type="button" aria-label="Меню">
    <span></span><span></span><span></span>
  </button>
  <a href="#top" class="navbar-logo">
    <img class="navbar-logo__triangle" src="img/header/logo-triangle.png" alt="">
    <img class="navbar-logo__brand navbar-logo__brand--full" src="img/header/logo-brand.svg" alt="АПК Партнёр">
  </a>
  <ul class="navbar-menu">
    <li><a href="#about">О Форуме</a></li>
    <li><a href="#contacts" class="has-arrow">Трансфер и проживание</a></li>
    <li><a href="#program" class="has-arrow">Программа</a></li>
    <li><a href="#contacts" data-nav-priority="partners">Партнеры</a></li>
    <li class="navbar-menu__smi">
      <button type="button" class="nav-smi-trigger has-arrow" aria-expanded="false" aria-controls="nav-smi-panel">СМИ</button>
    </li>
  </ul>
  <div class="navbar-actions">
    <a href="https://t.me/vetforumby" target="_blank" rel="noopener" aria-label="Telegram">
      <img src="img/header/icon-telegram.svg" alt="">
    </a>
    <a href="https://www.instagram.com/vetforum.by/" target="_blank" rel="noopener" aria-label="Instagram">
      <img src="img/header/icon-instagram.svg" alt="">
    </a>
    <div class="navbar-actions__phone">
      <a href="tel:+375173692116" class="navbar-actions__phone-btn" aria-label="Телефон">
        <img src="img/header/icon-call.svg" alt="">
      </a>
      <a href="tel:+375173692116" class="navbar-phone-tip">Вызов: +375 17 369 21 16</a>
    </div>
  </div>
  <div class="nav-smi-panel" id="nav-smi-panel" hidden>
    <div class="nav-smi-panel__grid">
      <ul class="nav-smi-panel__nav" aria-label="Навигация">
        <li><a href="#about">О Форуме</a></li>
        <li><a href="#contacts" class="has-arrow">Трансфер и проживание</a></li>
        <li><a href="#program" class="has-arrow">Программа</a></li>
        <li><a href="#contacts" data-nav-priority="partners">Партнеры</a></li>
        <li class="is-active"><span class="has-arrow">СМИ</span></li>
      </ul>
      <div class="nav-smi-panel__divider" aria-hidden="true"></div>
      <div class="nav-smi-panel__content">
        <p class="nav-smi-panel__title">СМИ</p>
        <ul class="smi-links">
          <li class="smi-links__item">
            <span class="smi-links__title">Белтелерадиокомпания (news.by)</span>
            <a class="smi-links__url" href="https://news.by/news/ekonomika/v-belarusi-k-2030-godu-planiruet-uvelichit-proizvodstvo-moloka-do-10-5-mln-t" target="_blank" rel="noopener">https://news.by/news/ekonomika/v-belarusi-k-2030-godu-planiruet-uvelichit-proizvodstvo-moloka-do-10-5-mln-t</a>
          </li>
          <li class="smi-links__item">
            <span class="smi-links__title">СТВ Новости Беларусь</span>
            <a class="smi-links__url" href="https://ctv.by/news/ekonomika/proizvodstvo-moloka-v-belarusi-planiruyut-uvelichit-do-115-mln-tonn-k-2035-godu" target="_blank" rel="noopener">https://ctv.by/news/ekonomika/proizvodstvo-moloka-v-belarusi-planiruyut-uvelichit-do-115-mln-tonn-k-2035-godu</a>
          </li>
          <li class="smi-links__item">
            <span class="smi-links__title">Народная экономическая газета (менее 50% объема)</span>
            <a class="smi-links__url" href="https://neg.by/novosti/otkrytj/molochnyy-biznes-360-innovatsii-dlya-rentabelnosti-i-rosta-pribyli/" target="_blank" rel="noopener">https://neg.by/novosti/otkrytj/molochnyy-biznes-360-innovatsii-dlya-rentabelnosti-i-rosta-pribyli/</a>
          </li>
          <li class="smi-links__item">
            <span class="smi-links__title">БЕЛТА</span>
            <a class="smi-links__url" href="https://belta.by/economics/view/proizvodstvo-moloka-v-belarusi-planirujut-uvelichit-do-115-mln-tonn-k-2035-godu-770782-2026/" target="_blank" rel="noopener">https://belta.by/economics/view/proizvodstvo-moloka-v-belarusi-planirujut-uvelichit-do-115-mln-tonn-k-2035-godu-770782-2026/</a>
          </li>
          <li class="smi-links__item">
            <span class="smi-links__title">СБ. Беларусь сегодня</span>
            <a class="smi-links__url" href="https://www.sb.by/articles/v-minske-startoval-otraslevoy-forum-molochnyy-biznes-360.html" target="_blank" rel="noopener">https://www.sb.by/articles/v-minske-startoval-otraslevoy-forum-molochnyy-biznes-360.html</a>
          </li>
          <li class="smi-links__item">
            <span class="smi-links__title"><a href="https://produkt.by/" target="_blank" rel="noopener">PRODUKT.BY</a></span>
            <a class="smi-links__url" href="https://produkt.by/news/novosti-belarusi/v-minske-proshel-desyatyy-vsebelorusskiy-forum-zhivotnovodov" target="_blank" rel="noopener">https://produkt.by/news/novosti-belarusi/v-minske-proshel-desyatyy-vsebelorusskiy-forum-zhivotnovodov</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
