#contacts {
    position: relative;
    background: url('/img/agriculture/contact-back.png') top center no-repeat;
    background-size: cover;
    padding: 118px 0 0;
    overflow: hidden;
    font-family: Montserrat;
    color: white;
    margin-top: -1px;
}
#contacts .row {
    max-width: 1672px;
}
#contacts .contact-title {
    font-family: "Montserrat Alternates";
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    letter-spacing: -0.02em;
    margin-bottom: 49px;
    text-shadow: 0px 4px 4px #00000040;
    text-align: center;
    padding-left: 25px;
}
#contacts .contacts-block {
    display: -ms-flex;
    display: flex;
display: -ms-flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 27px;
}
#contacts .contacts-left {
    padding-left: 2px;
}
#contacts .contacts-item {
    padding-left: 31px;
    margin-bottom: 18px;
}
#contacts .contacts-item .title {
    position: relative;
    padding-left: 42px;
    font-family: "Montserrat Alternates";
    font-weight: 600;
    font-size: 28px;
    line-height: 56px;
    margin-bottom: 4px;
}
#contacts .contacts-item .title img {
    position: absolute;
    top: 0;
    left: -31px;
    width: 51px;
    height: 51px;
}
#contacts .contacts-item:first-child .title img {
    width: 48px;
    height: 48px;
}
#contacts .contacts-item .contacts-body {
    background: linear-gradient(270.35deg, rgba(227, 242, 138, 0.5) 3.6%, rgba(64, 125, 123, 0.5) 95.99%);
    box-shadow: 0px 4.68px 4.68px 0px #00000040;
    padding: 13px 42px 14px;
    border-radius: 100px;
    width: 501px;
    font-size: 23px;
    line-height: 29px;
}
#contacts .contacts-item .contacts-body span {
    display: block;
}
#contacts .contacts-item .contacts-body span:not(:last-child) {
    margin-bottom: 6px;
}
#contacts .contacts-links {
    margin-top: -4px;
    display: -ms-flex;
    display: flex;
display: -ms-flex;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 73px;
    margin-bottom: 37px;
}
#contacts .contacts-links a:first-child {
    margin-right: 8px;
}
#contacts .contacts-links a:first-child img {
    width: 33px;
}
#contacts .contacts-links a:last-child img {
    width: 37px;
}
#contacts .btn {
    background: linear-gradient(90deg, #407D7B 0%, #EDE04C 100%);
    border-radius: 101px;
    box-shadow: 0px 4.05px 8.1px 0px #062D3F;
    padding: 15px 31px;
    color: white;
    font-family: "Montserrat Alternates";
    font-size: 35px;
    line-height: 43px;
    letter-spacing: -0.02em;
}
#contacts .btn:hover {
    background: white;
    color: #336139;
}
#contacts .contacts-right {
    width: 850px;
    flex-shrink: 0;
    padding-top: 20px;
}
#contacts .contacts-right iframe {
    width: 850px;
    height: 472px;
    border-radius: 30px;
}
#contacts .contacts-bottom {
    margin-top: -100px;
    background: url('/img/agriculture/footer-back.png') center center no-repeat;
    background-size: 100% 100%;
    padding: 119px 0 76px;
    font-family: Nunito;
    font-size: 15px;
    line-height: 20px;
}
#contacts .contacts-bottom > div > div {
    display: -ms-flex;
    display: flex;
display: -ms-flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#contacts .contacts-bottom span:last-child {
    text-align: right;
}
#contacts .footer-links {
    position: absolute;
    top: -50px;
}
#contacts .footer-links a {
    color: white;
}
@media (max-width: 1599.5px) {
    #contacts {
        padding-top: 88px;
    }
    #contacts .row {
        max-width: 1254px;
    }
    #contacts .contact-title {
        font-size: 52px;
        line-height: 43px;
        margin-bottom: 36px;
        padding-left: 18px;
    }
    #contacts .contacts-block {
        margin-bottom: 19px;
    }
    #contacts .contacts-left {
        padding-left: 1px;
    }
    #contacts .contacts-item {
        padding-left: 22px;
        margin-bottom: 13px;
    }
    #contacts .contacts-item .title {
        padding-left: 31px;
        font-size: 21px;
        line-height: 42px;
        margin-bottom: 3px;
    }
    #contacts .contacts-item .title img {
        left: -22px;
        width: 37px;
        height: 37px;
    }
    #contacts .contacts-item:first-child .title img {
        width: 36px;
        height: 36px;
    }
    #contacts .contacts-item .contacts-body {
        padding: 9px 31px 10px;
        border-radius: 75px;
        width: 375px;
        font-size: 16px;
        line-height: 21px;
    }
    #contacts .contacts-item .contacts-body span:not(:last-child) {
        margin-bottom: 4px;
    }
    #contacts .contacts-links {
        margin-top: -3px;
        padding-left: 54px;
        margin-bottom: 27px;
    }
    #contacts .contacts-links a:first-child {
        margin-right: 6px;
    }
    #contacts .contacts-links a:first-child img {
        width: 24px;
    }
    #contacts .contacts-links a:last-child img {
        width: 27px;
    }
    #contacts .btn {
        border-radius: 75px;
        padding: 10px 22px;
        font-size: 25px;
        line-height: 31px;
    }
    #contacts .contacts-right {
        width: 637px;
        padding-top: 21px;
    }
    #contacts .contacts-right iframe {
        width: 637px;
        height: 354px;
        border-radius: 22px;
    }
    #contacts .contacts-bottom {
        margin-top: -75px;
        padding: 88px 0 57px;
        font-size: 10px;
        line-height: 15px;
    }
    #contacts .footer-links {
        top: -37px;
    }
}
@media (max-width: 1199.5px) {
    #contacts {
        padding-top: 66px;
    }
    #contacts .row {
        max-width: 940px;
    }
    #contacts .contact-title {
        font-size: 39px;
        line-height: 31px;
        margin-bottom: 27px;
        padding-left: 13px;
    }
    #contacts .contacts-block {
        margin-bottom: 13px;
    }
    #contacts .contacts-left {
        padding-left: 0;
    }
    #contacts .contacts-item {
        padding-left: 16px;
        margin-bottom: 9px;
    }
    #contacts .contacts-item .title {
        padding-left: 22px;
        font-size: 15px;
        line-height: 31px;
        margin-bottom: 2px;
    }
    #contacts .contacts-item .title img {
        left: -16px;
        width: 27px;
        height: 27px;
    }
    #contacts .contacts-item:first-child .title img {
        width: 26px;
        height: 26px;
    }
    #contacts .contacts-item .contacts-body {
        padding: 6px 22px 7px;
        border-radius: 55px;
        width: 280px;
        font-size: 12px;
        line-height: 15px;
    }
    #contacts .contacts-item .contacts-body span:not(:last-child) {
        margin-bottom: 3px;
    }
    #contacts .contacts-links {
        margin-top: -2px;
        padding-left: 40px;
    }
    #contacts .contacts-links a:first-child {
        margin-right: 4px;
    }
    #contacts .contacts-links a:first-child img {
        width: 18px;
    }
    #contacts .contacts-links a:last-child img {
        width: 19px;
    }
    #contacts .btn {
        border-radius: 55px;
        padding: 7px 16px;
        font-size: 18px;
        line-height: 22px;
    }
    #contacts .contacts-right {
        width: 477px;
    }
    #contacts .contacts-right iframe {
        width: 477px;
        height: 265px;
        border-radius: 16px;
    }
    #contacts .contacts-bottom {
        margin-top: -55px;
        padding: 66px 0 42px;
        font-size: 7px;
        line-height: 10px;
    }
    #contacts .footer-links {
        top: -27px;
    }
}
@media (max-width: 991.5px) {
    #contacts {
        padding-top: 49px;
    }
    #contacts .row {
        max-width: 705px;
    }
    #contacts .contact-title {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 21px;
        padding-left: 9px;
    }
    #contacts .contacts-block {
        margin-bottom: 11px;
    }
    #contacts .contacts-item {
        padding-left: 14px;
    }
    #contacts .contacts-item .title {
        padding-left: 20px;
        font-size: 13px;
        line-height: 27px;
        margin-bottom: 1px;
    }
    #contacts .contacts-item .title img {
        left: -15px;
        width: 24px;
        height: 24px;
    }
    #contacts .contacts-item:first-child .title img {
        width: 23px;
        height: 23px;
    }
    #contacts .contacts-item .contacts-body {
        padding: 6px 20px;
        border-radius: 48px;
        width: 238px;
        font-size: 11px;
        line-height: 14px;
    }
    #contacts .contacts-links {
        padding-left: 34px;
    }
    #contacts .contacts-links a:first-child img {
        width: 16px;
    }
    #contacts .contacts-links a:last-child img {
        width: 18px;
    }
    #contacts .btn {
        border-radius: 47px;
        padding: 7px 14px;
        font-size: 16px;
        line-height: 20px;
    }
    #contacts .contacts-right {
        width: 357px;
    }
    #contacts .contacts-right iframe {
        width: 357px;
        height: 198px;
        border-radius: 12px;
    }
    #contacts .contacts-bottom {
        margin-top: -40px;
        padding: 52px 0 31px;
        font-size: 5px;
        line-height: 7px;
    }
    #contacts .footer-links {
        top: -13px;
    }
}
@media (max-width: 767.5px) {
    #contacts {
        padding-top: 36px;
    }
    #contacts .row {
        max-width: 528px;
    }
    #contacts .contact-title {
        font-size: 25px;
        padding-left: 6px;
    }
    #contacts .contacts-right {
        width: 267px;
    }
    #contacts .contacts-right iframe {
        width: 267px;
        height: 159px;
        border-radius: 10px;
    }
    #contacts .contacts-bottom {
        margin-top: -30px;
        padding-bottom: 22px;
    }
    #contacts .footer-links {
        top: -13px;
    }
}
@media (max-width: 575.5px) {
    #contacts {
        background: url("/img/agriculture/contact-back-mobile.png") bottom center no-repeat;
        background-size: cover;
        padding-top: 29px;
    }
    #contacts:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(360deg, rgba(120, 112, 95, 0.25) 0%, rgba(222, 207, 175, 0.25) 100%);
    }
    #contacts .row {
        max-width: 396px;
    }
    #contacts .contact-title {
        padding-left: 0;
    }
    #contacts .contacts-block {
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        max-width: 252px;
        margin-right: auto;
        margin-left: auto;
    }
    #contacts .btn-container {
        text-align: center;
    }
    #contacts .contacts-right {
        width: 252px;
        padding-top: 0;
        padding-bottom: 21px;
    }
    #contacts .contacts-right iframe {
        width: 252px;
    }
    #contacts .contacts-bottom {
        margin-top: -27px;
    }
    #contacts .contacts-bottom .row .columns {
        padding-right: 22px;
        padding-left: 23px;
    }
}