#form{
    background: #9B537E;
    background-image: url("/img/form_bg.png?ver=1");
    background-size: cover;
    padding-bottom: 10px;
}
.form-block{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#bottom-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
}
.form-block input {
    background: url('/img/form/input_back.png') !important;
    background-size: 100% 100% !important;
    font-family: Roboto, sans-serif;
    padding: 18px 25px;
    height: 60px;
    border-radius: 5px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    margin-right: 25px;
    border: none;
    max-width: 340px;
    width: 100%;
    margin-bottom: 20px;
}
.form-block .btn {
    background: url('/img/form/btn_back.png');
    background-size: 100% 100%;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color:  #4F0731;
    margin-left: 14px;
    margin-top: 0;
    padding: 16px 42px;
    text-transform: none;
    margin-bottom: 20px;
}
.ico-person, .ico-person:focus{
    background: rgba(255, 255, 255, 1) url(../../img/svg/form-person-ico.svg) no-repeat scroll 1em center!important;
}
.ico-mail, .ico-mail:focus{
    background: rgba(255, 255, 255, 1) url(../../img/svg/form-mail-ico.svg) no-repeat scroll 1em center!important;
}
.ico-phone, .ico-phone:focus{
    background: rgba(255, 255, 255, 1) url(../../img/svg/form-phone-ico.svg) no-repeat scroll 1em center!important;
}
.ico-bag, .ico-bag:focus{
    background: rgba(255, 255, 255, 1) url(../../img/svg/form-bag-ico.svg) no-repeat scroll 1em center!important;
}
.form-block input::placeholder{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}
@media (max-width: 1439px) {
    #bottom-form {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .form-block input {
        margin-right: 0;
    }
    .form-block input:not(:first-child) {
        margin-left: 30px;
    }
    .form-block .btn {
        margin-left: auto;
        max-width: 340px;
        width: 100%;
    }
}
@media (max-width: 1199px) {
    .form-block input:not(:first-child) {
        margin-left: 0;
    }
}
@media (max-width: 767px) {
    #bottom-form {
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .form-block .btn {
        font-size: 20px;
        margin-left: 0;
    }
}