/* #program {
    padding: 3.91vw 0 3.39vw;
    background-image: url(../../img/program/bg-img.png);
    background-size: 100% 100%;
    scroll-margin-top: 5.21vw;
} */

#program .content {
  display: flex;
  display: -ms-flex;
  flex-direction: column;
  row-gap: 21.1vw;
  text-align: center;
  font-family: TT Travels Medium;
  font-weight: 500;
  font-style: Medium;
  font-size: 1.56vw;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  color: black;
  background: #D9D9D9;
  padding: 1.3vw 0;
}

#program .top-block {
  display: flex;
  display: -ms-flex;
  flex-direction: column;
  row-gap: 4.17vw;
}

#program .top-block__top-row {
  display: flex;
  display: -ms-flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5.73vw;
  padding-left: 0.52vw;
}

#program .top-block__top-row .left-side {
  display: flex;
  display: -ms-flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 0.78vw;
}

#program .top-block__top-row .left-side__participants-title {
  display: flex;
  display: -ms-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 26.82vw;
  height: 28.91vw;
  background-image: url(../../img/program/participants-bg.png);
  background-size: 100% 100%;
  font-family: Artegra Sans Extended;
  font-weight: 500;
  font-size: 1.98vw;
  line-height: 143%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: white;
}

#program .top-block__top-row .left-side__participants-title b {
  margin-top: -1.04vw;
  margin-bottom: -0.26vw;
  font-family: Artegra Sans Extended;
  font-weight: 900;
  font-size: 3.44vw;
  line-height: 143%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

#program .top-block__top-row .left-side__participants-title span {
  font-family: Artegra Sans Extended;
  font-weight: 900;
  font-size: 1.95vw;
  line-height: 143%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  border-radius: 2.45vw;
  border: 0.04vw solid #ffffff;
  height: 2.45vw;
  width: 11.72vw;
  display: flex;
  display: -ms-flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.26vw;
}

#program .top-block__top-row .left-side__participants-list {
  margin-bottom: 0;
  display: flex;
  display: -ms-flex;
  flex-direction: column;
  row-gap: 4.43vw;
  justify-content: flex-start;
  padding-top: 1.3vw;
  list-style: none;
}

#program .top-block__top-row .left-side__participants-list li {
  display: flex;
  display: -ms-flex;
  flex-direction: row;
  align-items: flex-start;
  font-family: "Century Gothic", sans-serif;
  font-weight: 400;
  font-size: 1.15vw;
  line-height: 1.77vw;
  letter-spacing: 0;
  color: #434343;
  column-gap: 0.78vw;
}

#program .top-block__top-row .left-side__participants-list li:nth-child(1),
#program .top-block__top-row .left-side__participants-list li:nth-child(4) {
  margin-left: -7.29vw;
}

#program .top-block__top-row .left-side__participants-list li:nth-child(3) {
  margin-top: 1.56vw;
  margin-bottom: -0.52vw;
}

#program .top-block__top-row .left-side__participants-list img {
  width: 1.15vw;
  height: 1.15vw;
  margin-top: 0.31vw;
}

#program .top-block__top-row .right-side {
  padding: 2.08vw 2.86vw 2.34vw 3.13vw;
  display: flex;
  display: -ms-flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1.04vw;
  border-radius: 3.65vw;
  background: #96ca08;
}

#program .top-block__top-row .right-side__title {
  font-family: Artegra Sans Extended;
  font-weight: 500;
  font-size: 2.53vw;
  line-height: 143%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: white;
}

#program .top-block__top-row .right-side__list {
  list-style: none;
  margin-bottom: 0;
  display: flex;
  display: -ms-flex;
  flex-direction: column;
  align-items: start;
  row-gap: 1.04vw;
}

#program .top-block__top-row .right-side__list li {
  display: flex;
  display: -ms-flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.78vw;
  font-family: "Century Gothic", sans-serif;
  font-weight: 400;
  font-size: 1.15vw;
  line-height: 1.77vw;
  letter-spacing: 0;
  color: white;
}

#program .top-block__top-row .right-side__list img {
  width: 1.3vw;
  height: 1.3vw;
}

#program .top-block__bottom-row {
  display: flex;
  display: -ms-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 1.82vw;
  scroll-behavior: smooth;
  position: relative;
}

#program .top-block__bottom-row > button,
#program .top-block__bottom-row a {
  width: 21.61vw;
  height: 3.65vw;
  display: flex;
  display: -ms-flex;
  align-items: center;
  justify-content: center;
  font-family: Artegra Sans Extended;
  font-weight: 500;
  font-size: 1.25vw;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: center;
  color: white;
  background: #434343;
  border-radius: 5.73vw;
  padding-bottom: 0.42vw;
}

#program .top-block__bottom-row a {
  border: 0.05vw solid #000000;
  background: transparent;
  color: black;
}
#program .top-block__bottom-row .sections:not(.active) {
  display: none;
}
#program .top-block__bottom-row .sections {
  position: absolute;
  top: 5.05vw;
  width: 100%;
}
#program .top-block__bottom-row .sections .section {
  background: white;
  box-shadow: 0.18vw 0.21vw 0.57vw 0 #00000040;
  border-radius: 0.78vw;
  margin: 0.36vw 0.29vw 0.78vw;
  padding: 1.35vw 0.83vw 1.56vw 1.04vw;
}
#program .top-block__bottom-row .sections .section .title {
  display: -ms-flex;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-family: Artegra Sans Extended;
  font-weight: 900;
  font-size: 1.37vw;
  line-height: 1.56vw;
  text-transform: uppercase;
  margin-bottom: 0.63vw;
}
#program .top-block__bottom-row .sections .section .title > img {
  width: 1.56vw;
  margin-right: 0.52vw;
}
#program .top-block__bottom-row .sections .section .title > div {
  margin-top: 0.21vw;
}
#program .top-block__bottom-row .sections .section .title > button {
  display: flex;
  align-items: center;
  margin-left: auto;
  border: none;
  background: #96ca08;
  border-radius: 1.09vw;
  padding: 0.63vw 1.03vw;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 0.83vw;
  line-height: 1.04vw;
  color: white;
}
#program .top-block__bottom-row .sections .section .title > button img {
  width: 1.51vw;
  margin-left: 0.89vw;
}
#program .top-block__bottom-row .sections .section > div:last-child {
  padding-left: 0.16vw;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1.08vw;
  line-height: 1.3vw;
  color: #414141;
}
#program .top-block__bottom-row .sections:not(.active) + .arrows {
  display: none;
}
#program .top-block__bottom-row .sections + .arrows {
  position: absolute;
  top: 15.47vw;
  display: flex;
}
#program .top-block__bottom-row .sections + .arrows > div {
  cursor: pointer;
  background: #434343;
  border-radius: 2.38vw;
  padding: 1.07vw 1.37vw;
  box-shadow: 0 0.21vw 0.21vw 0 #00000040;
}
#program .top-block__bottom-row .sections + .arrows > div:not(:last-child) {
  margin-right: 1.19vw;
}
#program .top-block__bottom-row .sections + .arrows > div img {
  width: 2.19vw;
}
@media (min-width: 576px) {
  #sectionModal .modal-dialog {
    display: none !important;
  }
}
.program-window {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ffffff;
  overflow: auto;
  z-index: 9999;
}
.program-window .program-top {
  display: flex;
  align-items: flex-start;
  padding: 3.75vw 0 2.71vw 5.16vw;
  font-family: Artegra Sans Extended;
  font-weight: 500;
  font-size: 3.98vw;
  line-height: 5.05vw;
  letter-spacing: -0.02em;
}
.program-window .program-top > button {
  background: #d9d9d9;
  border-radius: 1.69vw;
  border: none;
  padding: 0.76vw 0.98vw;
  margin-top: 1.35vw;
  margin-right: 2.97vw;
}
.program-window .program-top > button img {
  width: 1.43vw;
}
.program-window .program-top .program-top__events {
  margin: 0.05vw 2.03vw 0 2.55vw;
  border: 0.09vw solid #96ca08;
  border-radius: 5vw;
  padding: 0 3.35vw 0 3.4vw;
  font-weight: 900;
  font-size: 3.95vw;
  line-height: 4.77vw;
  color: #96ca08;
}
.program-window .program-top .program-top__number {
  margin-top: -0.21vw;
}
.program-window .program-row {
  display: flex;
  align-items: flex-start;
}
.program-window .program-content > *:not(:last-child) {
  margin-bottom: 0.94vw;
}
.program-window .program-content > .dense {
  margin-bottom: 0.37vw;
}
.program-window .program-row .time {
  flex-shrink: 0;
  position: relative;
  margin-left: 5.16vw;
  margin-right: 1.61vw;
  width: 10.1vw;
  background: #96ca08;
  border-radius: 2.55vw;
  text-align: center;
  padding: 0.48vw 0 0.56vw;
  font-family: Artegra Sans Extended;
  font-weight: 500;
  font-size: 0.93vw;
  line-height: 1.3vw;
  color: white;
}
.program-window .program-row .time.gray {
  background: #434343;
}
.program-window .program-row .time:after {
  content: "";
  position: absolute;
  top: 0.47vw;
  right: -0.63vw;
  background: url("../../img/program/bottom-block-list-marker-1.png") center
    center no-repeat;
  background-size: contain;
  width: 1.35vw;
  height: 1.35vw;
}
.program-window .program-row .time.gray:after {
  background-image: url("../../img/program/participants-list-marker-1.png");
}
.program-window .program-row .text {
  padding-top: 0.36vw;
  font-family: Century Gothic;
  font-weight: 400;
  font-size: 0.94vw;
  line-height: 1.41vw;
  color: #434343;
}
.program-window .program-row .text.approval {
  color: #d9d9d9;
}
.program-window .program-row .text .theme {
  font-family: Artegra Sans Extended;
  font-weight: 500;
  color: #96ca08;
}
.program-window .program-row .text .speaker {
  font-weight: 700;
  font-style: italic;
  color: #434343;
}
.program-window .section-row {
  background: #1c1c1c;
  display: flex;
  justify-content: center;
  padding: 0.73vw 0;
  font-family: Artegra Sans Extended;
  font-weight: 500;
  font-size: 1.89vw;
  line-height: 2.4vw;
  color: white;
}
.program-window .section-row .green {
  margin-left: 1.3vw;
  border: 0.04vw solid #96ca08;
  border-radius: 2.38vw;
  padding: 0 1.36vw 0 1.42vw;
  font-weight: 900;
  font-size: 1.88vw;
  line-height: 2.31vw;
  color: #96ca08;
}
.program-window .program-bottom {
  text-align: right;
  padding-right: 3.7vw;
  padding-bottom: 0.42vw;
  font-family: Century Gothic;
  font-weight: 400;
  font-style: italic;
  font-size: 0.73vw;
  line-height: 1.41vw;
}
.program-window .program-button {
  position: fixed;
  right: 3.68vw;
  bottom: 2.5vw;
  background: #d9d9d9;
  border-radius: 2.08vw;
  border: none;
  padding: 1.2vw 0.94vw;
}
.program-window .program-button img {
  width: 1.04vw;
}

#program .bottom-block {
  display: flex;
  display: -ms-flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: visible;
}

#program .bottom-block__title {
  font-family: Artegra Sans Extended;
  font-weight: 500;
  font-style: Medium Expanded;
  font-size: 3.28vw;
  line-height: 143%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: white;
  text-align: right;
  padding-right: 7.81vw;
  width: 100%;
}

#program .bottom-block__subtitle {
  font-family: Artegra Sans Extended;
  font-weight: 500;
  font-size: 5.42vw;
  line-height: 143%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: white;
  padding-right: 6.25vw;
  text-align: right;
  width: 100%;
}

#program .bottom-block__subtitle span {
  font-family: Artegra Sans Extended;
  font-weight: 900;
  font-size: 5.36vw;
  line-height: 143%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding-left: 0.78vw;
  color: #96ca08;
}

#program .bottom-block__top-row {
  display: flex;
  display: -ms-flex;
  flex-direction: row;
  align-items: flex-end;
  padding-left: 5.21vw;
  column-gap: 7.55vw;
  margin-bottom: 4.17vw;
}

#program .bottom-block__top-row .buttons {
  display: flex;
  display: -ms-flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1.3vw;
}

#program .bottom-block__top-row .buttons button {
  display: flex;
  display: -ms-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 4.69vw;
  height: 3.13vw;
  border-radius: 2.34vw;
  background: white;
  border: none;
}

#program .bottom-block__top-row .buttons button:focus {
  outline: none;
}

#program .bottom-block__top-row .buttons img {
  width: 1.98vw;
  height: auto;
}

#program .bottom-block__top-row .description {
  display: flex;
  display: -ms-flex;
  flex-direction: row;
  align-items: flex-end;
  column-gap: 4.69vw;
  font-family: Artegra Sans Extended;
  font-weight: 500;
  font-size: 1.25vw;
  line-height: 1.35vw;
  letter-spacing: -0.02em;
  color: white;
}

#program .bottom-block__top-row .description span {
  font-family: Artegra Sans Extended;
  font-weight: 900;
  font-size: 2.21vw;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #96ca08;
}

#program .bottom-block__bottom-row {
  display: flex;
  display: -ms-flex;
  flex-direction: row;
  align-items: center;
  /* column-gap: 1.30vw; */
  position: static;
  padding-left: 5.21vw;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
  scrollbar-width: none;
}

#program .bottom-block__bottom-row::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#program .bottom-block__bottom-row-item {
  display: flex;
  display: -ms-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2.08vw 2.08vw 2.34vw;
  background: white;
  border-radius: 1.56vw;
  min-height: 15.63vw;
  row-gap: 0.78vw;
  min-width: 40.1vw;
  flex: 0 0 auto;
  margin-right: 1.3vw;
}

#program .bottom-block__bottom-row-item .title {
  font-family: Artegra Sans Extended;
  font-weight: 500;
  font-size: 2.53vw;
  line-height: 143%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #96ca08;
  white-space: nowrap;
}

#program .bottom-block__bottom-row-item .details {
  display: flex;
  display: -ms-flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 1.04vw;
  font-family: "Century Gothic", sans-serif;
  font-weight: 400;
  font-size: 0.94vw;
  line-height: 1.41vw;
  letter-spacing: 0;
  color: #434343;
  white-space: nowrap;
}

#program .bottom-block__bottom-row-item .details img {
  width: 1.35vw;
  height: 1.35vw;
}

@media (max-width: 575.5px) {
  /* #program {
    padding: 7.81vw 0 10.94vw;
    background-image: url(../../img/program/bg-img-mobile.png);
    scroll-margin-top: 0;
  } */

  #program .content {
    font-size: 4.06vw;
    padding: 3.125vw 0;
  }

  #program .top-block {
    row-gap: 6.25vw;
  }

  #program .top-block__top-row {
    flex-direction: column;
    row-gap: 9.38vw;
    padding-left: 0;
  }

  #program .top-block__top-row .left-side {
    column-gap: 0;
    width: max-content;
    left: -6.25vw;
    position: relative;
  }

  #program .top-block__top-row .left-side__participants-title {
    width: 59.69vw;
    height: 63.13vw;
    font-size: 4.38vw;
  }

  #program .top-block__top-row .left-side__participants-title b {
    margin-top: -3.13vw;
    margin-bottom: -1.56vw;
    font-size: 7.81vw;
  }

  #program .top-block__top-row .left-side__participants-title span {
    font-size: 5.38vw;
    line-height: 4.38vw;
    border-radius: 5.63vw;
    border: none;
    height: 5vw;
    width: 26.56vw;
    padding-bottom: 0;
  }

  #program .top-block__top-row .left-side__participants-list {
    row-gap: 7.81vw;
    padding-top: 1.56vw;
  }

  #program .top-block__top-row .left-side__participants-list li {
    font-size: 2.97vw;
    line-height: 4.06vw;
    column-gap: 1.56vw;
    max-width: 51.56vw;
  }

  #program .top-block__top-row .left-side__participants-list li br {
    display: none;
  }

  #program .top-block__top-row .left-side__participants-list li:nth-child(1),
  #program .top-block__top-row .left-side__participants-list li:nth-child(4) {
    margin-left: -14.06vw;
  }

  #program .top-block__top-row .left-side__participants-list li:nth-child(3) {
    margin-top: 4.69vw;
    margin-bottom: 4.69vw;
  }

  #program .top-block__top-row .left-side__participants-list img {
    width: 3.44vw;
    height: 3.44vw;
    margin-top: 0;
  }

  #program .top-block__top-row .right-side {
    padding: 4.69vw 4.69vw 6.25vw 6.25vw;
    row-gap: 3.13vw;
    border-radius: 0;
    width: 100vw;
  }

  #program .top-block__top-row .right-side__title {
    font-size: 5.63vw;
  }

  #program .top-block__top-row .right-side__list {
    row-gap: 3.13vw;
  }

  #program .top-block__top-row .right-side__list li {
    column-gap: 1.56vw;
    font-size: 3.13vw;
    line-height: 4.06vw;
  }

  #program .top-block__top-row .right-side__list img {
    width: 3.13vw;
    height: 3.13vw;
  }

  #program .top-block__bottom-row {
    flex-direction: column;
    row-gap: 2.5vw;
  }

  #program .top-block__bottom-row > button,
  #program .top-block__bottom-row a {
    width: 71.88vw;
    height: 12.5vw;
    font-size: 4.22vw;
    border-radius: 18.75vw;
    padding-bottom: 1.25vw;
    border: none;
  }

  #program .top-block__bottom-row a {
    border: 0.17vw solid #000000;
    padding: 0;
  }
  #sectionModal .modal-dialog {
    margin: 19.93vw 0 10.63vw;
    width: 100vw;
  }
  #sectionModal .modal-content {
    position: relative;
    background: none;
    border: none;
  }
  #sectionModal .modal-content .modal-close {
    position: absolute;
    top: -8.67vw;
    right: 1.99vw;
    background: url("../../img/program/modal-section-close.png") center center
      no-repeat;
    background-size: contain;
    width: 4.89vw;
    height: 4.89vw;
    border: none;
  }
  #sectionModal .section {
    background: white;
    box-shadow: 0.73vw 0.86vw 2.32vw 0 #00000040;
    border-radius: 3.21vw;
    margin: 0 2.53vw 2.24vw 2.03vw;
    padding: 5.56vw 3.43vw 6.46vw 4.28vw;
  }
  #sectionModal .section .title {
    display: -ms-flex;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-family: Artegra Sans Extended;
    font-weight: 900;
    font-size: 5.64vw;
    line-height: 6.42vw;
    text-transform: uppercase;
    margin-bottom: 2.57vw;
  }
  #sectionModal .section .title > img {
    width: 6.42vw;
    margin-right: 2.14vw;
  }
  #sectionModal .section .title > div {
    margin-top: 1.85vw;
  }
  #sectionModal .section .title > button {
    display: flex;
    align-items: center;
    margin-left: auto;
    border: none;
    background: #96ca08;
    border-radius: 4.49vw;
    padding: 2.57vw 4.28vw 2.78vw;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 3.43vw;
    line-height: 4.06vw;
    color: white;
  }
  #sectionModal .section .title > button img {
    width: 6.25vw;
    margin-left: 3.57vw;
  }
  #sectionModal .section > div:last-child {
    padding-left: 0.64vw;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 4.43vw;
    line-height: 5.31vw;
    color: #414141;
  }
  #program .top-block__bottom-row .sections,
  #program .top-block__bottom-row .sections + .arrows {
    display: none;
  }
  .program-window .program-top {
    padding: 8.44vw 0 4.58vw 4.38vw;
    font-size: 6.59vw;
    line-height: 8.44vw;
    letter-spacing: -0.02em;
  }
  .program-window .program-top > button {
    border-radius: 7.81vw;
    padding: 3.52vw 4.5vw;
    margin-top: -1.25vw;
    margin-right: 4.69vw;
  }
  .program-window .program-top > button img {
    width: 7.14vw;
  }
  .program-window .program-top .program-top__events {
    display: none;
  }
  .program-window .program-top .program-top__number {
    margin-top: 0;
    margin-left: auto;
    width: 22.19vw;
    border: 0.15vw solid #96ca08;
    border-right: none;
    border-radius: 8.28vw 0 0 8.28vw;
    padding-left: 5.31vw;
    font-size: 7.38vw;
    line-height: 8.14vw;
  }
  .program-window .program-content > *:not(:last-child) {
    margin-bottom: 2.6vw;
  }
  .program-window .program-content > .dense {
    margin-bottom: 1.66vw;
  }
  .program-window .program-row .time {
    margin-left: 4.38vw;
    margin-right: 4.53vw;
    width: 25.47vw;
    border-radius: 7.37vw;
    padding: 1.46vw 0 1.56vw;
    font-size: 2.68vw;
    line-height: 3.75vw;
  }
  .program-window .program-row .time:after {
    top: 1.35vw;
    right: -1.72vw;
    width: 3.91vw;
    height: 3.91vw;
  }
  .program-window .program-row .text {
    padding-top: 1.25vw;
    padding-right: 0.31vw;
    font-size: 3.13vw;
    line-height: 4.68vw;
  }
  .program-window .section-row {
    flex-wrap: wrap;
    padding: 1.88vw 1.77vw 1.65vw;
    font-size: 3.88vw;
    line-height: 4.91vw;
    text-transform: uppercase;
  }
  .program-window .section-row .green {
    margin-left: 2.56vw;
    border: 0.09vw solid #96ca08;
    border-radius: 4.88vw;
    padding: 0 2.49vw 0 2.58vw;
    font-size: 3.85vw;
    line-height: 4.74vw;
  }
  .program-window .program-bottom {
    text-align: left;
    padding: 2.19vw 18.44vw 6.56vw 4.38vw;
    font-size: 2.66vw;
    line-height: 3.13vw;
  }
  .program-window .program-button {
    right: 4.38vw;
    bottom: 3.59vw;
    border-radius: 7.73vw;
    padding: 4.46vw 3.48vw;
  }
  .program-window .program-button img {
    width: 3.87vw;
  }

  #program .bottom-block__title {
    font-size: 4.06vw;
    text-align: center;
    padding-right: 0;
    margin: auto;
  }

  #program .bottom-block__subtitle {
    display: flex;
    display: -ms-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 6.25vw;
    font-size: 7.19vw;
    padding-right: 0;
  }

  #program .bottom-block__subtitle span {
    padding-left: 0;
    font-size: 7.19vw;
    margin-top: -3.13vw;
    margin-left: auto;
    padding-right: 6.25vw;
  }

  #program .bottom-block__top-row {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 0 6.25vw;
    width: 100%;
    margin-bottom: 7.81vw;
    row-gap: 0.63vw;
  }

  #program .bottom-block__top-row .buttons {
    column-gap: 4.69vw;
  }

  #program .bottom-block__top-row .buttons button {
    width: 10.94vw;
    height: 7.5vw;
    border-radius: 5.47vw;
  }

  #program .bottom-block__top-row .buttons img {
    width: 4.69vw;
  }

  #program .bottom-block__top-row .description {
    column-gap: 6.25vw;
    font-size: 2.97vw;
    line-height: 2.66vw;
    text-align: end;
    align-items: flex-start;
    margin-top: 6.25vw;
  }

  #program .bottom-block__top-row .description span {
    font-size: 3.13vw;
    min-width: 29.69vw;
    text-align: left;
  }

  #program .bottom-block__top-row .description br {
    display: none;
  }

  #program .bottom-block__top-row .description span br {
    display: block !important;
  }

  #program .bottom-block__bottom-row-item {
    padding: 4.69vw 4.69vw 6.25vw;
    border-radius: 3.13vw;
    min-height: 35.94vw;
    row-gap: 1.56vw;
    min-width: 92.19vw;
    margin-right: 3.13vw;
  }

  #program .bottom-block__bottom-row-item .title {
    font-size: 5.94vw;
  }

  #program .bottom-block__bottom-row-item .details {
    column-gap: 3.13vw;
    font-size: 2.97vw;
    line-height: 3.28vw;
    white-space: normal;
    max-width: 78.13vw;
  }

  #program .bottom-block__bottom-row-item .details br {
    display: none;
  }

  #program .bottom-block__bottom-row-item .details img {
    width: 3.13vw;
    height: 3.13vw;
  }
}
