#reviews-block {
    background: url('/img/reviews_bg.png?ver=2') top center;
    background-size: cover;
    position: relative;
    padding: 0 0 20px;
}
.review-register-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.register-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 14px;
    margin-right: -33px;
    margin-bottom: -20px;
    width: 100%;
    max-width: 840px;
    min-width: 580px;
}
.register-list > * {
    margin-right: 14px;
    margin-bottom: 20px;
}
@supports (grid-gap: 20px 14px) {
    .register-list {
        margin-right: 47px;
        margin-bottom: 0;
    }
    .register-list > * {
        margin-right: 0;
        margin-bottom: 0;
    }
}
.register-block {
    background: url('/img/register_block_back.png');
    background-size: 100% 100%;
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 413px;
}
.register-block .title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #4F0731;
    height: 56px;
    margin-bottom: 20px;
}
.register-block .desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.025em;
    color: #000000;
    margin-bottom: 21px;
}
.register-block .btn {
    max-width: 264px;
    width: 100%;
    text-transform: none;
    border: none;
    background: #A05C85;
    color: white;
    padding: 12px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
}
.reviews-list {
    overflow: hidden;
    padding: 0 51px;
    max-width: 557px;
}
.reviews-list .slick-arrow {
    width: 32px;
    height: 53px;
    top: 0;
    bottom: 81px;
    margin: auto;
    transform: none;
}
.reviews-list .slick-prev {
    left: 0;
    background: url('/img/reviews/slick-left.png');
    background-size: contain;
}
.reviews-list .slick-next {
    right: 0;
    background: url('/img/reviews/slick-right.png');
    background-size: contain;
}
.review {
    margin: 0 4px;
}
.review .review-block {
    background: #9B537E;
    padding: 30px 35px 43px 22px;
    margin-bottom: 49px;
    position: relative;
}
.review .review-block:after {
    content: '';
    border-top: 32px solid #9B537E;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    position: absolute;
    bottom: -30px;
    right: 11px;
}
.review .review-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: white;
    letter-spacing: 0.025em;
    margin-bottom: 19px;
}
.review .review-stars {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.review .review-stars:not(:last-child) {
    margin-bottom: 20px;
}
.review .review-stars img {
    margin-right: 4px;
}
.review .organization {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #CECECE;
}
.review .author {
    position: relative;
    min-height: 64px;
    text-align: right;
    padding-right: 92px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.025em;
    color: #000000;
}
.review .author:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 64px;
    height: 64px;
    margin: auto;
    background: url('/img/reviews/author.png');
}
.reviews-buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.reviews-buttons .btn {
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: none;
}
@media (max-width: 1199px) {
    .review-register-block {
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .register-list {
        min-width: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    .reviews-list {
        width: 100%;
        margin: auto;
        padding: 0;
    }
}
@media (max-width: 767px) {
    .register-list {
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
    }
    .register-block {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .reviews-list .slick-arrow {
        width: 16px;
        height: 26px;
    }
    .review .organization, .review .review-text, .review .author {
        word-break: break-all;
        word-break: break-word;
    }
}


.quotes {
    padding-bottom: 30px;
    padding-top:25px;
}
.quote{
    padding: 0 108px;
}
.quote blockquote {
    border-left: none;
    margin-bottom: 10px;
    padding: 0 !important;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #6D6D6D;
}
.quote blockquote:before {
    content: "“"
}
.quote blockquote:after {
    content: "”";
}
.quote .author {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #313131;
    display: block;
    max-width: 66%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0;
}
.quote .organization {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #DEA702;
    display: block;
    padding-bottom:20px;

}
.quotes .orbit-container {
    background: transparent !important;
}

.quotes .orbit-slide-number{
    display: none !important;

}
.quotes .orbit-timer {
    visibility: hidden;
}
.quotes .orbit-bullets {
    text-align: center;
}
.quotes .orbit-bullets li{
    display: inline-block;
    float: none;
    height: 13px;
    width: 13px;
    border: none;
    background: #FFE9A6;
    cursor:pointer;
}
.quotes .orbit-bullets li.active {
    background: #FBBE07;
}
.orbit-container .orbit-prev, .orbit-container .orbit-next{
    background-color: transparent;
    margin-top: 0;
    top: 20px;
}
.orbit-container .orbit-prev{
    background-image: url(../../img/left-arrow.png?ver=1);
    background-position: left center;
    background-repeat: no-repeat;
}
.orbit-container .orbit-next{
    background-image: url(../../img/right-arrow.png?ver=1);
    background-position: right center;
    background-repeat: no-repeat;
}
.orbit-container .orbit-prev>span,.orbit-container .orbit-next>span{
    display: none;
}
.orbit-container .orbit-slides-container img {
    margin: auto;
}
@media (min-width: 1600px) {
    .quotes .orbit-container {
        margin: 0 -72px;
        width: auto;
    }
    .quote {
        padding: 0 72px;
    }
}
@media (max-width: 1599px) {
    .orbit-container .orbit-prev {
        left: 15px;
    }
    .orbit-container .orbit-next {
        right: 15px;
    }
}
@media(max-width: 480px) {
    .quote{
        padding: 0;
    }
}